/*nivell 2 i 3*/
body {
    padding: 25;
    margin: 4em;
    box-sizing: border-box;

}
/*header*/
.header {
    background-color: lightgray;
    background-image: url(header.jpg);
    background-repeat: no-repeat;
    background-size: 112em;
    background-position: center;
    height: 24.5em;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 2fr 3fr;
    grid-column-start: 1;
    grid-column-end: -1;
    align-items: center;
}

#logo {
    width: 7em;
    grid-area: 1/1;
    display: flex;
    animation: moveLeft 1s ease-in;
}

.barra {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    grid-column: 2/3;
    grid-row: 1;
    align-items: center;

}

.iconos {
    width: 1em;
    opacity: 50%;
    padding-right: 0.25em;

}
.redes {
    list-style-type: none;
    display: flex;
    grid-area: 1/3;
}

#redes-iconos {
   width: 1em;
   opacity: 50%;
   padding-right: 1.25em;
   
}

.barra a:hover {
    color: white;
    background: linear-gradient(to right, rgb(224, 32, 32), orange, rgb(247, 133, 152)); 
    opacity: 70%;
    padding: 1em;

}
.barra a:link, a:visited, a:active {
    text-decoration: none;
    color: gray;
    font-size: 1.1em;

}

#title {
    grid-column: 2/3;
    grid-row: 3/4;
    color: rgb(255, 123, 0);
    background-color: rgb(206, 202, 202);
    opacity: 0.50;
    font-size: 2.5em;
    margin-top: 4em;
    padding: 1em;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self:flex-end;
    animation: moveRight 1s ease-in;
}

.contenedor {
    display: grid;
    grid-gap: 0.6em;
    grid-template-columns: 3fr 3fr 2fr;
    grid-template-rows: repeat(5, auto);
    font-family: 'Roboto', sans-serif;

}
