* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1200px;
    margin: 16px auto;
    background-color:rgb(255, 255, 255);
    
}
/* HEADER*/

header {
    background-color: black;
    padding: .9em;
    
}

nav {
    background-color: rgb(252, 207, 181);
    padding: .9em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}
.nav-edge , #nav-center{
    padding: 0.7em;
    margin: 1em .6em;
}
.nav-edge {
    width: 20%;
    background-color: blue;


}
#nav-center {
    width: 50%;
    background-color: blue;
}

.title {
    background-color: rgb(138, 15, 117);
    justify-content: center;
    margin-top: 1em;
    padding: 1.5em;
}
#title-layout {
    background-color: rgb(213, 170, 253);
    padding: 0.8em;


}
/*central part*/
.content {
    background-color: black;
    padding: 1em;
    display: flex;  
    justify-content: space-between;
    margin-top: 1em;
}
.info {
    width: 70%;
    padding: 1em;
    background-color: rgb(56, 99, 0);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

.info-text-1 {
    background-color: rgb(0, 172, 43);
    padding: .8em;
    margin: 0.5em;
    width: 45%;

    
}
#info-text-2 {
    background-color: rgb(122, 223, 144);
    padding: .8em;
    margin: 1em;
    display: flex;
    flex-direction: row;
    width: 95%;

}    

.sidebar {
    width: 28.5%;
    background-color: red;
    padding: 1em;
    


}
.sidebar-text {
    padding: .8em;
    margin: .5em;
    background-color: gold;
    display: flex;

}

/*FOOTER*/
footer {
    background-color: black;
    text-align: center;
    margin-top: 1em;
    padding: 1em;
}

#footer-text {
    background-color: yellow;
    padding: 1em;
    
}
/*
/*desktop*/
@media only screen and (max-width: 1200px) {
    body{
        font-size:0.625em;
    }
}

/*tablet*/
@media only screen and (max-width: 768px) {
    header {
        padding: 1.5em;
        margin-bottom: 2em;

    }
    .nav-edge , #nav-center{
        padding: 1em;
    }
    .title {
        margin-top: .9em;

    }
    .content {
        display: block;
        background-color: yellow;
        padding: 1.5em;
        margin-bottom: 2em;

    }
    .info {
        width: 100%;

    }
    .sidebar {
        width: 100%;
        margin-top: 1.5em;
        padding: 1.5em;
    }
    footer {
        padding: 1.7em;
    }
}
/*mobile*/
@media only screen and (max-width: 576px) {
    * {
        margin: 0;
        padding: 0;
    }
    header {
        padding: 2.5em;

    }
    nav {
        padding: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1.5em;
    }
    .nav-edge , #nav-center {
        width: 95%;
        padding: 1em;
    }
    .title {
        padding: 2em;
    }
    .content {
        margin-top: 1.5em;
        display: block;
        background-color: yellow;
        padding: 2em;

    }
    .info {
        margin-bottom: 1.5em;

    }
    .info-text-1 {
        padding: 1em;
        margin: 1em;
        width: 90%;
    }
    #info-text-2 {
        padding: 1em;
        margin: 1em;
        width: 90%;
    }

    .sidebar-text {
        padding: 1em;
        margin: 1em;
        width: 94%;
        background-color: rgb(255, 163, 78);
    }
    footer {
        margin-top: 1.5em;
        padding: 2em;
    }
    #footer-text {
        background-color: gold;
    }
    .sidebar {
        background-color: blue;
        color: rgb(181, 181, 235);
    }
}

